array/src/main/mule/array.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="66d21ef1-cca3-4816-a512-50c58337ed6d" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="arrayFlow" doc:id="4817a8ff-7c68-4161-b540-4c53b55f47f6" >
		<http:listener doc:name="Listener" doc:id="7bca3b9b-c8a8-403b-adae-08b18ec9540e" config-ref="HTTP_Listener_config" path="/array/{mynum}"/>
		<set-payload value="#[1 to (attributes.uriParams.mynum as Number)]" doc:name="Set Payload" doc:id="b3d46db6-a91d-4860-b9cd-a20b7ddfb35b" />
		<ee:transform doc:name="Transform Message" doc:id="7dd4f4fd-6b5c-40d9-84c9-317622ab8a72" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0

output json

---
"output":payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
